<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SQLWizard</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">

    <style>

        body{
            font-size: 15px;
            background-color: #f1f1f1;
            margin-top: 60px;
        }

        .card-custom {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin-bottom: 30px;
        }

        .card-header-custom {
            background-color: #007bff;
            color: #ffffff;
        }

        .btn-primary {
            background-color: #0056b3;
            border: none;
            width:auto;
            font-size: 1rem; 
            padding: .5rem 1rem; 
        }

        .whitespace {
            margin-top: 15px;
            margin-bottom: 15px;
            
        }

        .intro-overlay {
            background-color: rgba(255,255,255,0.95);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1050;
            display: block; /* Hidden by default */
        }

        .hljs-keyword {
            display: block; 
        }

        .bot-message {
            background-color: #e0e0e0;
        }

        .user-message {
            background-color: #292c2f;
            color: white;
        }

        #prerequisite-div{
            margin-bottom: 15px;
        }

        .operation-group h4 {
            font-size: 1.2em; 
        }

        .sql-query-block {
            background-color: #f7f9fc;
            padding: 10px;
            border: 1px solid #d1d5db;
            border-radius: 4px;
            font-family: "Courier New", monospace;
        }

        .suggested-topic {
            cursor: pointer;
            display: inline-block;
            margin: 5px;
            padding: 8px 12px;
            border: 1px solid #007bff;
            border-radius: 4px;
            background-color: #f2f2f2;
            color: #007bff;
            text-align: center;
        }

        .suggested-topic:hover {
            background-color: #007bff;
            color: white;
            text-decoration: none;
        }

        .list-group-item {
            display: flex;
            align-items: center; 
            justify-content: space-between;
            width: 100%; 
        }

        #chat-container {
            display: flex;
            flex-direction: column;
            display: none;
            align-items: stretch; 
        }

        li{
            margin-top: 15px;
            margin-bottom: 15px;
        }

        h3{
            margin-bottom: 1rem;
        }

        .btn-highlight:hover {
        box-shadow: 0 0 0 0.1rem rgba(38, 143, 255, 0.5); 
        }

        select{
        border-radius: 0.25rem;
        border: 2px solid #ced4da;
        width: 60%;
        }

        .input-group .btn-highlight {
        border-radius: 0 0.25rem 0.25rem 0; 
        }

        .session-ended-message {
        text-align: center;
        font-size: 1.2em; 
        margin: 10px;
        }

        .no-topics-message{
            font-family: 'Arial', sans-serif;
            font-size: 0.8rem;
            color: #6c757d; 
            text-align: center;
            padding: 0.5rem; 
            font-weight: lighter;
            border-radius: 0.5rem; 
            margin-top: 0.3rem; 
            background-color: #f8f9fa; 
            border: 1px solid #dee2e6; 
        }

        .gpt-response-table table {
        width: 40%; 
        }

        .gpt-response-table td, .gpt-response-table th {
        padding: 8px; /* Adds padding */
        }

        @media screen and (max-width: 600px) {
        .gpt-response-table table {
            display: block;
            overflow-x: auto; /* Adds horizontal scroll on small screens */
        }
        }
 
        pre, code {
        white-space: pre;
        word-break: break-all!important; 
        }

    </style>
</head>

<body>
    
    <div class="container mt-5">
        <!-- Adding the SQL Wizard heading -->
        <h1 class = "text-center mb-4" style="color:black; text-align:center">SQL Wizard</h1>
        <!-- intro overlay displayed at the start of the application -->
        <div class="intro-overlay" id="introOverlay">
            <div class="container text-center">
                <h2>Welcome to SQL Wizard</h2>
                <p>SQL Wizard is a personalized educational chatbot designed to teach SQL. There are several features you can use to enhance your SQL learning journey.</p>
                
                <div class="user-options">
                    <p class="lead">Once logged in, you can:</p>
                    <ul class="list-unstyled">
                        <li><strong>Select a Topic:</strong> Choose a specific topic to learn from a dropdown, or simply select one of the suggested topics. </li>
                        <li><strong>Suggested Topics:</strong> New topics are suggested based on how confident you are in your completed topics.</li>
                        <li><strong>SQL Wizard Chatbot:</strong> Use the chatbot to solve any SQL-related queries.</li>
                        <li><strong>SQL Overview:</strong> Get a beginner-friendly overview of SQL concepts and usage.</li>
                        <li><strong>Sandbox Mode:</strong> Practice writing SQL queries against a live database.</li>
                        <li><strong>Progress Tracker:</strong> View your learning progress and review topics you've mastered.</li>
                    </ul>
                </div>

                <button class="btn btn-primary mt-4" onclick="closeIntro()">Begin Journey</button>
            </div>
        </div>



        <!-- Cards Section -->
        <div class="row">
             <!-- User Selection Card -->
            <div class="card card-custom mb-3" id="user-preferences-div">
                <div class="card-body">
                    {% if show_options %}
                    <div id="user-preferences">

                        <h3>Welcome, {{ session['firstname'] }}! Please choose one of the following options</h3>

                        <div class = "input-group mb-3">
                            <select id="user-choice">
                                <option value="" disabled selected>Select your option</option>
                                <option value="select_topic">Learn about a specific topic</option>
                                <option value="doubt_clearing">Use SQLWizard to ask questions </option>
                                <option value="overview">Generate SQL overview (Recommended for Beginners)</option>
                            </select>
                            <button onclick="handleUserChoice()" class="btn btn-primary btn-highlight">Submit</button>
                        </div>
                    </div>

                    <div id="topic-selection" style="display:none;">
                        
                        <div class="input-group mb-3">
                            <select id="topic-dropdown">
                                <option value="" disabled selected>Choose a Topic</option>

                                <!-- Topics will be populated here -->
                            </select>
                            <button onclick="submitTopic()" class="btn btn-primary btn-highlight">Submit</button>

                        </div>

                        <div id="prerequisite-div">
                            <!-- prerequisite topics will be populated here -->
                        </div> 

                        <div id="suggestions-div">
                            <!-- Suggested topics will be populated here -->
                        </div>

                    </div>
                    {% endif %}
                </div>
            </div> 
            
            <!-- Interface for chatting with gpt3.5 model -->
            <div id = "chat-container">    
                <div id="list-group" class="list-group w-auto mt-3">
                    <div class="list-group-item d-flex gap-3 py-3 bot-message">
                        <img src="https://digital-practice.ams3.cdn.digitaloceanspaces.com/static%2Fapp%2Fimg%2Fopenai-logo.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0 opacity-75">Hello! I am SQLWizard, and I am here to help you on any SQL-related queries.<br>
                                    
                                    -Ask me any question you'd like, anytime!<br>
                                    -Refrain from asking anything that's not SQL-related- I invested all my time learning SQL for you!<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" id="chat-input">
                    <div class="input-group-append">
                        <button id="gpt-button" class="btn btn-primary">Ask SQLWizard</button>
                    </div>
                </div>
            </div>

            <!-- loading indicator -->
            <div id="loading-indicator" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <!-- <span class="sr-only">Loading...</span> -->
                </div>
                <p class="mb-0 mt-2">Loading...</p>
            </div>

            <!-- Practice SQL Card -->
            <div class="col-md-3">
                    <div class="card card-custom mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Practice SQL</h5>
                            <p class="card-text">Hone your skills with hands-on SQL practice.</p>
                            <button id = "practice-sql-button" class = "btn btn-primary">Practice SQL</button>
                        </div>
                    </div>
            </div>
                    
            <!-- View Progress Card -->
            <div class="col-md-3">
                    <div class="card card-custom mb-3">
                        <div class="card-body">
                            <h5 class="card-title">View Progress</h5>
                            <p class="card-text">Check out your learning progress and achievements.</p>
                            <button id="view-progress-btn" class="btn btn-primary">View Progress</button>                    </div>
                    </div>
            </div>    
            
            <!-- Completed Topics Card -->
            <div class="col-md-3">
                <div class="card card-custom mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Completed Topics</h5>
                        <p class="card-text">Review the topics you've mastered.</p>
                        <button id="completed-topics-button" class="btn btn-primary">View Completed Topics</button>
                    </div>
                </div>
            </div>

            <!-- Quit Card -->
            <div class="col-md-3">
                <div class="card card-custom mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Quit Session</h5>
                        <p class="card-text">End your current session and log out.</p>
                        <div class="d-grid gap-2">
                            <button id="quit-button" class="btn btn-danger">Quit</button>
                        </div>
                    </div>
                </div>
            </div>
            

            <!--Finish Topic button and a hidden form for confidence score submission -->
            <div id="finish-topic-container" style="display:none;">
                <button id="finish-topic-btn" class="btn btn-primary">Finish Topic</button>
                <div id="confidence-form" style="display:none; margin-top: 0.7rem;">
                    <label for="confidence-score">How confident are you in this topic? (1-5)</label>
                    <input type="number" id="confidence-score" min="1" max="5" required>
                    <button class = "btn btn-primary" onclick="submitConfidenceScore()">Submit Confidence Score</button>
                </div>
            </div>

            <div class = "completed-topics-text-container">
                <!-- completed topics will be rendered here -->
            </div>
        
            <div id = "progress-chart-container">
                <canvas id="progress-chart" width="400" height="50">
                <!-- for rendering graph -->
                </canvas>
            </div>

        </div>
    </div>
        
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        setInterval(highlightAll, 1000);
        // for highlighting SQL code in GPT response
        function highlightAll() {
            document.querySelectorAll("pre code").forEach(block => {
                hljs.highlightBlock(block);
            });
        }

        // closing intro overlay on button click 
        function closeIntro() {
            document.getElementById('introOverlay').style.display = 'none';
        }

        const chatInput = document.querySelector('#chat-input');
        
        
        // Main Driver function, askSQLWizard sends question to API, receives response, and displays using addMessage
        function askSQLWizard(){
            showLoadingIndicator();
            const question = chatInput.value.trim();
    
            if (question) {
                
                //user asks question
                addMessage(question, true);

                //before sending to API, make sure user question/answer is SQL-related
                
                fetch("/SQLclassifier", {
                method: "POST",
                headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ prompt: question })
                })
                .then(response => response.json())
                .then(data => {
                    if(data.classifier_failed){
                        addMessage("There was an error processing your question. Please try quitting session and logging back in.", false);
                        hideLoadingIndicator();
                        return; 
                    }
                    if (!data.is_sql) {
                        // If the response indicates the question is not related to SQL
                        const nonSQLRelatedMessage = "Please ask questions related to SQL. Note: If your prompt is SQL-related, and you are still getting this message, please try rephrasing your prompt.\n\nHere are a few things you can do:\n1) if you are referencing an SQL query, try writing 'in the above SQL query'\n2) try appending 'in SQL' at the end of your prompt";

                        addMessage(nonSQLRelatedMessage, false);
                        hideLoadingIndicator();
                        return; 
                    }
                    else {
                    // sql related question
                        fetch("/callapi", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ prompt: question })
                        })
                            .then(response => {
                                if (!response.ok) {  
                                    return response.json().then(data => {
                                        throw new Error(data.error || "Unknown error occurred.");
                                    });
                                }
                            return response.json();
                            })
                            .then(data => {
                                hideLoadingIndicator();
                                addMessage(data.answer, false);
                            })
                            .catch(error => {
                                console.error("Error fetching response:", error);
                                addMessage("Failed to get a response. Please try again.", false);
                            });
                    }
                })
                .catch(error => {
                    console.error("Error checking SQL-related:", error);
                    addMessage("There was an error processing your request: ${error}", false);
                });
            
            }
            chatInput.value = '';
        }

        
        // function to fetch all topics from table, to display to user
        function fetchAndDisplayTopics() {
            fetch("/fetch_all_topics")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(topicsByOperation => {
                const topicSelect = document.getElementById("topic-dropdown");
                // Iterate over operations and create optgroups
                Object.entries(topicsByOperation).forEach(([operation, topics]) => {
                    let optgroup = document.createElement('optgroup');
                    optgroup.label = operation;
                    
                    // Create options for each topic under this operation
                    topics.forEach(topic => {
                        let option = new Option(topic, topic);
                        optgroup.appendChild(option);
                    });
                    
                    topicSelect.appendChild(optgroup);
                });
            })
            .catch(error => console.error('Error:', error));
        }

        // different functionalities for 3 different user choices
        async function handleUserChoice() {

            document.getElementById("suggestions-div").innerHTML='';
            document.getElementById("topic-selection").style.display='none';
            const choice = document.getElementById("user-choice").value;
            const userPreferences = document.getElementById("user-preferences");
            const chatContainer = document.getElementById("chat-container");
            const topicSelectionDiv = document.getElementById("topic-selection");
            const chatInput = document.getElementById('chat-input');

            switch (choice) {
                case "select_topic":

                    chatInput.disabled = true; // Disable chat input until a topic is submitted
                    topicSelectionDiv.style.display = 'block';
                    fetchAndDisplayTopics();
                    displaySuggestedTopics();
                    break;
                case "doubt_clearing":
                    // Continue with the normal chatbot flow
                    chatContainer.style.display = 'block';
                    clearChat();
                    addMessage("Ask an SQL-related question.", false)
                    chatInput.disabled = false;
                    break;

                case "overview": 
                    chatContainer.style.display = 'block';
                    clearChat();
                    showLoadingIndicator();
                    addMessage("Please wait while I generate an overview for you...");
                    chatInput.disabled = true;
                    await fetchOverview();
                    chatInput.disabled = false;
                    hideLoadingIndicator();
                    break;

                default:
                    console.error('Invalid choice');
            }
        }

        // function to fetch a basic overview for SQL 
        async function fetchOverview() {
            try {
                const response = await fetch("/generate_sql_overview");
                const data = await response.json();
                addMessage(data.overview, false);
            } catch (error) {
                console.error('Error:', error);
                addMessage("Failed to fetch overview. Please try again.", false);
            }
        }
        
        // function to clear chatInput
        function clearChat() {
            // Clear the chat history or reset the environment for doubt clearing
            const listGroup = document.getElementById('list-group');
            listGroup.innerHTML = ''; // This will remove all child elements in the chat history
        }

        // choose topic to learn 
        function submitTopic() {
            const selectedTopic = document.getElementById("topic-dropdown").value;
            console.log(selectedTopic)
            if(selectedTopic){
                showLoadingIndicator();
                document.getElementById("chat-container").style.display = 'block';
                clearChat();
                addMessage("Please wait while I generate a summary for you ...")
                // Hide the user preferences and topic selection while loading
                document.getElementById('user-preferences-div').style.display = 'none';
                document.getElementById('topic-selection').style.display = 'none';
                document.getElementById('finish-topic-container').style.display = 'none'; // Initially hide the Finish Topic button

                // modified callapi route, for a particular topic 
                fetch("/learn_topic", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ topic: selectedTopic })
                })
                .then(response => response.json())
                .then(data => {
                    hideLoadingIndicator(); // Hide loading indicator when the response is received
                    addMessage(data.response, false);
                    document.getElementById('chat-input').disabled = false; // Re-enable chat input
                    document.getElementById('finish-topic-container').style.display = 'block'; // Show the Finish Topic button
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Show the user preferences and topic selection again if there was an error
                    document.getElementById('user-preferences-div').style.display = 'block';
                    document.getElementById('topic-selection').style.display = 'block';
                });
            }
            else{
                // ask user to select topic
                alert("Please select a topic first.");
                hideLoadingIndicator();
            }
        }

        // Submitting confidence score after finishing topic
        function submitConfidenceScore() {
            const confidenceScore = document.getElementById('confidence-score').value;
            const selectedTopic = document.getElementById("topic-dropdown").value;            
            if (confidenceScore) {
                // Send the confidence score to the backend
                fetch("/submit_confidence_score", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ topic: selectedTopic, score: confidenceScore })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok: ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle the response from the server
                    // Reset the form and re-enable the user preferences for next topic selection
                    displaySuggestedTopics();
                    document.getElementById('confidence-form').style.display = 'none';
                    document.getElementById('user-preferences-div').style.display = 'block';
                    document.getElementById('topic-selection').style.display = 'none';
                    document.getElementById('finish-topic-container').style.display = 'none';
                    document.getElementById('chat-input').disabled = true; // Keep chat input disabled until a new selection is made
                })
                .catch(error => console.error('Error:', error));
            }
        }

        // display suggested topics according to the user's completed topics
        function displaySuggestedTopics() {
            fetch("/suggested_topics") 
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                const suggestionsDiv = document.getElementById("suggestions-div");
                suggestionsDiv.innerHTML = '<h4>Suggested Topics: </h4>'; // Clear existing suggestions
                
                // data is an array of objects with `Concept` and `Operation Name` keys
                const groupedByOperation = data.reduce((acc, topic) => {
                    // Initialize the array if an operation hasn't been seen before
                    if (!acc[topic['Operation Name']]) {
                        acc[topic['Operation Name']] = [];
                    }
                    acc[topic['Operation Name']].push(topic.Concept);
                    return acc;
                }, {});

                // Create a container for each operation
                Object.entries(groupedByOperation).forEach(([operation, topics]) => {
                    let operationDiv = document.createElement("div");
                    operationDiv.className = "operation-group";
                    let operationHeader = document.createElement("h4");
                    operationHeader.textContent = operation;
                    operationDiv.appendChild(operationHeader);

                    // Add topics to the operation container
                    topics.forEach(topic => {
                        let topicDiv = document.createElement("div");
                        topicDiv.className = "suggested-topic";
                        topicDiv.textContent = topic;
                        topicDiv.onclick = function() { selectTopic(topic); };
                        operationDiv.appendChild(topicDiv);
                    });

                    suggestionsDiv.appendChild(operationDiv);
                });
            })
            .catch(error => console.error('Error fetching suggested topics:', error));
        }

        // Set the topic in the dropdown to the selected suggested topic
        function selectTopic(topic) {
            const topicDropdown = document.getElementById("topic-dropdown");
            topicDropdown.value = topic;
            // Call submitTopic as if the user selected the topic from the dropdown and submitted
            submitTopic();
        }


        //Event listeners for the button click or enter key press

        document.querySelector('#gpt-button').addEventListener('click', askSQLWizard);
            chatInput.addEventListener('keydown', function (event) {
                if (event.keyCode === 13) { // Check if the key code is 13 (Enter key)
                    event.preventDefault(); // Prevent the default action (like form submission)
                    askSQLWizard();
                }
        });

        document.getElementById('practice-sql-button').addEventListener('click', function() {
            window.location.href = '/sandbox'; // Redirect to the sandbox page
        });

        document.getElementById('finish-topic-btn').addEventListener('click', function() {
            const finishTopicContainer = document.getElementById('finish-topic-container');
            const confidenceForm = document.getElementById('confidence-form');
            const chatContainer = document.getElementById("chat-container");

            // Show the form to submit the confidence score
            finishTopicContainer.style.display = 'inline-block';
            confidenceForm.style.display = 'block';
            chatContainer.style.display = 'none';

        });


        document.getElementById("topic-dropdown").addEventListener("change", function() {
            const selectedTopic = this.value;
            fetchPrerequisite(selectedTopic);
        });

        // fetch prerequisite of a topic
        function fetchPrerequisite(topic) {
            fetch('/get_prerequisite', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ topic: topic })
            })
            .then(response => response.json())
            .then(data => {
                displayPrerequisite(data.prerequisite);
            })
            .catch(error => console.error('Error:', error));
        }

        // populate prerequisite div with the prerequisite 
        function displayPrerequisite(prerequisite) {
            const prerequisiteDiv = document.getElementById("prerequisite-div");
            if(!prerequisite){
                prerequisiteDiv.innerHTML = ``; //for SQL basics as topic
            }
            prerequisiteDiv.innerHTML = `<h4>Prerequisite: </h4>${prerequisite}`;
        }
        
        let progressChart;

        // event listener to display progress chart using chart.js
        document.getElementById('view-progress-btn').addEventListener('click', function() {
            const button = this;
            const progressChartCanvas = document.getElementById('progress-chart');

            
            if(button.textContent.includes('View Progress')){

                fetch('/view_progress')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok: ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(graphData => {
                        // 2d graph
                        const ctx = document.getElementById('progress-chart').getContext('2d');
                        progressChart = new Chart(ctx, {
                            type: 'bar', //bar graph 
                            data: {
                                labels: graphData.operations,
                                datasets: [
                                    {
                                    label: 'Completed Topics',
                                    data: graphData.completedTopics,
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Total Topics',
                                    data: graphData.totalTopics,
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                
                                indexAxis: 'y', //horizontal bar
                                scales: {
                                    x: {
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    },
                        
                                },
                                responsive: true,
                                maintainAspectRatio: true,
                                aspectRatio:2
                            }
                        });
                        //toggle button 

                        button.textContent = 'Hide Progress';
                        button.classList.remove('btn-primary');
                        button.classList.add('btn-danger');
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
            else{
                if (progressChart) {
                    progressChart.destroy(); // clear a Chart.js chart
                }
                document.getElementById("progress-chart").innerHTML = ''; // Clear any residual markup

                // Change button back to blue and text to 'View Progress'
                button.textContent = 'View Progress';
                button.classList.remove('btn-danger');
                button.classList.add('btn-primary');
            }
        });

        // quit functionality
       document.getElementById('quit-button').addEventListener('click', function() {
                fetch("/quit", {
                    method: "POST"
                })
                .then(response => response.json())
                .then(data => {
                    const learnedTopics = data.learned_topics;
                    // Disable all buttons
                    const buttons = document.querySelectorAll('button');
                    buttons.forEach(btn => {
                        btn.disabled = true;
                    });
                    // Disable chat input and hide the button, or redirect as needed
                    hideLoadingIndicator();
                    chatInput.value = '';
                    chatInput.disabled = true;
                    document.getElementById('finish-topic-container').style.display = 'none';
                    document.getElementById('gpt-button').disabled = true;
                    document.getElementById('quit-button').disabled = true;
                    
                    let message = "<div class='session-ended-message'> Session ended. Thank you for using SQLWizard!</div>";
                    // display all the topics learned during session, if any 
                    if(learnedTopics.length > 0) {
                        message += "<div class='session-ended-message'> You learned the following topics: " + learnedTopics.join(', ') + "</div>";
                    }
                    console.log(message);
                    

                    // Change the content of the card body to the end session message
                    const cardBody = document.querySelector('.card-body'); 
                    const chatContainer = document.querySelector('#chat-container');
                    document.querySelector('.user-preferences-div')
                    chatContainer.innerHTML = message;
                    cardBody.innerHTML = message;

                }).catch(error => {
                    console.error("Error ending session:", error);
                });            
        });

            

    
        //function to put message in the chat history

        function addMessage(message, isUser) {
            const messageType = isUser ? 'user-message' : 'bot-message';
            const logoURL = isUser ? "{{ url_for('static', filename='user.png') }}" : "https://digital-practice.ams3.cdn.digitaloceanspaces.com/static%2Fapp%2Fimg%2Fopenai-logo.png";
            // Check if the content has code block
            let formattedMessage = message;

            // format any SQL code, HTML tables, and bullet points in GPT response 

            //currently, this wraps up the whole response in a <table> tag, which needs changing
    
            // formattedMessage = formatBotResponse(formattedMessage);

            formattedMessage = formatGPTResponseToHTMLTable(formattedMessage);

            formattedMessage = formatGPTResponse(formattedMessage);

            // populate formattedMessage in div
            let html_data = `
                 <div class="list-group-item d-flex gap-3 py-3 ${messageType}">
                    <img src="${logoURL}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p class="mb-0 opacity-75">${formattedMessage}</p>
                            </div>
                        </div>
                </div>
            `;
            
            document.querySelector('#list-group').insertAdjacentHTML('beforeend', html_data);

            //create an empty messages array, keep on appending the user and bot messages, and pass the messages array as a prompt
            // if isUser is true, append to the role user message, else append to role assistant message
        }

        function formatGPTResponse(message) {
            // Split the message by new lines to identify paragraphs and lists
            const messageLines = message.split('\n');
            let formattedMessage = '';

            messageLines.forEach((line) => {
                // Check if the line is a list item starting with a number followed by a period (e.g., "1. ")
                if (/^\d+\.\s/.test(line)) {
                    // Add a line break before list items except for the first
                    if (formattedMessage.length > 0) {
                        formattedMessage += '<br>';
                    }
                    formattedMessage += line;
                } else {
                    // Wrap non-list lines in paragraph tags
                    formattedMessage += `<p>${line}</p>`;
                }
            });

            return formattedMessage;
        }

        function formatGPTResponseToHTMLTable(content) {
            // Split the content by line breaks
            const lines = content.split('\n');
            let tableHTML = '<table>';

            lines.forEach(line => {
                // Check if the line is a table row
                if (line.trim().startsWith('|')) {
                    // Remove leading and trailing pipes, then split by pipe separator
                    const rowData = line.trim().slice(1, -1).split('|');
                    
                    // Start a table row
                    tableHTML += '<tr>';
                    
                    // For each cell in the row data, add a table cell
                    rowData.forEach(cell => {
                        tableHTML += `<td>${cell.trim()}</td>`;
                    });
                
                // End the table row
                tableHTML += '</tr>';
                } 
                else {
                // If the line is not a table row, it's a regular text. Wrap it with <p>
                tableHTML += `<p>${line}</p>`;
                }
            });
            tableHTML += '</table>';
            tableHTML = `<div class="gpt-response-table">${tableHTML}</div>`;
            return tableHTML;
        }

        //function to format any SQL code 


        function formatBotResponse(content) {
            // Match content that starts with ```sql and ends with ```
            content = content.replace(/```sql\n([\s\S]+?)```/g, '</p><br><pre><code class="sql">$1</code></pre><br><p>');
            return content;
        }

        //Function to show loading indicator
        function showLoadingIndicator() {
            document.getElementById('loading-indicator').style.display = 'block';
        }

        // Function to hide loading indicator
        function hideLoadingIndicator() {
            document.getElementById('loading-indicator').style.display = 'none';
        }

        // disable chat input at the beginning
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('chat-input').disabled = true;
        });

        window.onload = function() {
            const completedTopicsButton = document.getElementById('completed-topics-button');
            if (completedTopicsButton) {

                completedTopicsButton.addEventListener('click', function() {
                // fetch and display completed topics

                    if(completedTopicsButton.textContent.includes('View Completed Topics')){
                        fetch('/display_completed_topics')
                            .then(response => response.json())
                                .then(data => {
                                // Call a function to render data
                                renderCompletedTopics(data);
                                completedTopicsButton.textContent = 'Hide Completed Topics';
                                completedTopicsButton.classList.remove('btn-primary');
                                completedTopicsButton.classList.add('btn-danger');
                                })
                                .catch(error => {
                                console.error('Error:', error);
                                });
                    }
                    else{
                        const container = document.querySelector(".completed-topics-text-container");
                        container.innerHTML = '';
                        completedTopicsButton.textContent = 'View Completed Topics';
                        completedTopicsButton.classList.remove('btn-danger');
                        completedTopicsButton.classList.add('btn-primary');


                    }
                });
            } 
            
            
            else {
                console.error('completed-topics-button element not found');
            }

            // render a table of user's completed topics
            function renderCompletedTopics(data) {
                const container = document.querySelector(".completed-topics-text-container");
                if (data.length > 0) {
                    let tableHtml = '<table class="table"><tr><th>Concept Name</th><th>Database Activity</th><th>Confidence Level</th></tr>';

                        data.forEach(row => {
                        tableHtml += `<tr><td>${row[0]}</td><td>${row[1]}</td><td>${row[2]}</td></tr>`;
                    });
                    tableHtml += '</table>';
                    container.innerHTML = tableHtml;
                } else {
                    container.innerHTML = '<p class = "no-topics-message">No completed topics to display.</p>';
                }
            }

        };
    </script>
</body>
</html>
